<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

    <div class="div" style="font-family: 'Arial', serif;">
 
      <li class="tt widt_two">{{putlist.id}}</li>
      <li class="tt widt_two">{{putlist.SPR_SER_ID}}</li>
      <li class="tt widt_two" style="overflow-x: hidden;">{{putlist.SPR_ORG_ID}}</li>
      <li class="tt widt_two">{{putlist.PL_DATE|date:'d/m/Y' }}</li>
      <li class="tt widt_two">{{putlist.SPR_AUTO_ID}}</li>
      <li class="tt widt_two">{{putlist.SPR_AUTO_ID.GOS_NUM}}</li>
      <li class="tt widt_two" style="font-family: Arial;">{{putlist.SPR_DRIVER_ID}}</li>
      <li class="tt widt_two">{{putlist.SPR_MARK_TOPL_ID}}</li>
      <li class="tt widt_two">{{putlist.DG_VYIDANO}}</li>
      <li class="tt widt_two">{{putlist.RASHOD}}</li>
      <li class="tt widt_two">{{putlist.DG_OST_VYIEZD}}</li>
      <li class="tt widt_two">{{putlist.DG_OST_VOZVR}}</li>

    </div>


  
</body>
</html>