<span>
    <ul class="container_tables">
        <li class="li sprav">            
            <a href="{% url 'car' %}" class="spr active1">             
                <i class="fas fa-car-alt"></i>
                Автомобили
            </a>                               
        </li>
        <li class="li sprav">
            <a href="{% url 'driver' %}" class="spr active2">
                <i class="far fa-address-card"></i>
                Водители
            </a>
        </li>
        <li class="li sprav">
            <a href="{% url 'toplivo' %}" class="spr active4">
                <i class="fas fa-gas-pump"></i>
                Марка топлива
            </a>
        </li>
        <li class="li sprav">
            <a href="{% url 'organizations' %}" class="spr active5">
                <i class="fas fa-sitemap"></i>
                Организации
            </a>
        </li>
        <li class="li sprav">
            <a href="{% url 'timeWork' %}" class="spr active6">
                <i class="far fa-clock"></i>
                Режим работы
            </a>
        </li>
        <li class="li sprav">
            <a href="{% url 'series' %}" class="spr active7">
                <i class="fas fa-server"></i>
                Серия пут. листов
            </a>
        </li>
    </ul>
</span>